body {
    background-color: rgba(207, 244, 252, 0.5);
}

nav {
    border-bottom: 1px solid white;
    z-index: 10;
    background-color: #cff4fc;
}

footer {
    border-top: 1px solid white;
    z-index: 10;
    background-color: #cff4fc;
}

#arrow-right {
  opacity: 0.65;
  padding-bottom: 1px;
}

.video_wrapper {
    flex: 1;
    position: relative;
    height: 100vh;
}

.video_wrapper > video {
    display: flex;
    height: 100%;
    object-fit: cover;

    filter: blur(2px);
    overflow: hidden;
}

.video_wrapper > .card {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;
    border: none;
}

.video_wrapper > .card {
    background: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s ease;
}

.video_wrapper > .card > .card-body {
    border: 1px solid lightgray;
    outline: 5px solid transparent;
    box-shadow: 0 0 1px 10px rgba(207, 244, 252, 0.5), 
                0 0 5px 20px rgba(207, 244, 252, 0.25);
}

.carousel-item {
    height: 100vh;
}

.carousel-item img {
    width: 60%;
    height: 100%;
    object-fit: cover;
}

.carousel-item .carousel-caption {
    top: 0px;
    left: 60%;
    width: 40%;
    height: 100%;
    padding: 30px;
    
    box-shadow: -10px 0 1px rgba(207, 244, 252, 0.5),
                -20px 0 5px rgba(207, 244, 252, 0.375),
                -30px 0 10px rgba(207, 244, 252, 0.25);

    text-align: start;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Courier, monospace;

    opacity: 0;
}

.carousel-item.active .carousel-caption {
    transition: opacity 0.5s ease;
    opacity: 1;
}

.carousel-control-next {
    right: 40%;
}

.carousel-control-next,
.carousel-control-prev {
    color: dark !important;
}

#carouselExampleCaptions {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}